.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontal-relative {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.full-width {
    width: 100%;
}

#root {
    height: 100%;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    padding: 0;
    margin: 0;
}

#color-black {
    color: #222 !important;
}

.bg-black {
    background-color: #222 !important;
}

.white-border {
    border-color: #ccc !important;
}

.white-color {
    color: #ccc !important;
}

.dark-input {    
    background: #222 !important;
    border: solid#fff 2px !important;
    color:#eee !important;
}

.main-color {
    background-color: #3500d3 !important;
}

.blue {
    background-color: #3500d3 !important;
}

.blue-color {
    color: #3500d3 !important;
}

.image {
    border: solid #3500d3 3px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post{
    width: 250px;
}
.img-alt{
    left: 0;
    color: #fff;
    text-align: justify;
    margin-bottom: 10px;
}

.notice {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 400px;
    padding: 12px;
    z-index: 999999;
    display: inline;
    border: solid #ccc 2px;
}

.green-notice {
    background-color: #50c878;
}

.red-notice {
    background-color: #f20;
}

.blue-notice {
    background-color: aquamarine;
}

.yellow-notice {
    background-color: #fcd250;
}

.notice-message {
    color: #fff;
    display: inline;
    float: left;
    border-right: solid #fff 2px;
    padding-right: 5px;
}

.close-notice {
    float: right;
    color: #fff;
}

.hide-notice {
    animation-name: hide-notice;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes hide-notice {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 100% !important;
}

div .segment {
    width: 60% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}